root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[*.{cpp,h,c}]
indent_style = space
indent_size = 4

[*.rs]
indent_style = space
indent_size = 4

[*.{yml,yaml,toml,json}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
